#lbca_black_overlay {
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
}
#lbca_map_container {
  position: fixed;
  bottom: 84px;
  left: 24px;
  z-index: 99999;
  width: 85vw;
  height: 80vh;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: #f56b2b;
  transform: translateY(0);
}
#lbca_map {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  height: 100%;
}
.leaflet-container {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#lbca_disclaimer {
  font-size: 12px;
  background: #e6e6e6;
  font-style: italic;
  color: #535353;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#lbca_disclaimer.lbca_disclaimer_no_items {
  color: white;
  background: #f56b2b;
}
#lbca_disclaimer.lbca_disclaimer_no_items a {
  color: white;
}
#lbca_disclaimer .title {
  font-style: normal;
  font-weight: bold;
}
#lbca_buttons_container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 99999;
  display: flex;
}
.lbca_button {
  border-radius: 16px;
  transition: background 0.3s, color 0.3s, border 0.3s;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 16px;
  font-weight: 600;
  font-size: 14px;
  height: 44px;
  box-sizing: border-box;
  color: #f56b2b;
  background: white;
  border: 2px solid #f56b2b;
}
.lbca_button:hover,
.lbca_button:focus {
  cursor: pointer;
  background: #f56b2b;
  color: white;
  border: 2px solid #f56b2b;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.visible.fade {
  opacity: 1;
  transition: opacity 150ms linear;
}
.hidden.fade {
  opacity: 0;
  transition: visibility 0s 150ms, opacity 150ms linear;
}
@keyframes slide-animation {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.visible.slide {
  animation: slide-animation 150ms ease-in forwards;
}
.lbca-marker-cluster {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 1C24.2843 1 31 7.71573 31 16C31 24.2843 24.2843 31 16 31C7.71573 31 1 24.2843 1 16C1 7.71573 7.71573 1 16 1Z' fill='%23FF8800' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  cursor: pointer;
}
.lbca-marker-cluster .count {
  position: relative;
  top: -5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.plasmo_popup {
  width: 400px;
}
.plasmo_popup .flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
