@orange: #f56b2b;
@backgroundGrey: #e6e6e6;

@leftSpacing: 20px;
@buttonsBottomSpacing: 20px;
@mapContainerBottomSpacing: @buttonsBottomSpacing + 50px;


#lbca_black_overlay {
    position: fixed;
    bottom: 0px;
    left: 0px;

    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;

    &.hidden {
        display: none;
    }
}

// #lbca_bottom_left_container {
    // position: fixed;
    // bottom: 20px;
    // left: 20px;
    // z-index: 99999;

//     background: yellow;

//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: flex-start;
// }

#lbca_map_container {
    position: fixed;
    bottom: @mapContainerBottomSpacing;
    left: @leftSpacing;
    z-index: 99999;

    width: 85vw;
    height: 80vh;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    background: @orange;
    padding: 1px;
}

#lbca_map {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

#lbca_warning {
    color: #999;
    font-style: italic;
    font-size: .8em;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;

    background: @backgroundGrey;
}

// -

#lbca_buttons_container {
    position: fixed;
    bottom: @buttonsBottomSpacing;
    left: @leftSpacing;
    z-index: 99999;

    display: flex;
}

.lbca_button {
    border-radius: 6px;
    transition: all 0.3s;
    padding: 10px;
    margin-right: 10px;

    & {
        color: @orange;
        background: white;
        border: 1px solid @orange;
    }

    &:hover,
    &:focus {
        background: @orange;
        color: white;
        border: 1px solid white;
    }
}