#lbca_map {
  width: 100%;
  height: 420px;
  background: #e6e6e6;
}

.marker {
  background-image: url('chrome-extension://__MSG_@@extension_id__/foreground/map/img/pinicon_default.png');
  width: 24px;
  height: 42px;
  cursor: pointer;
}
.mapboxgl-popup-content {
  padding-bottom: 5px;
  padding-top: 5px;
}
.mapboxgl-popup-close-button {
  background: #f56b2b;
  color: white;
}
.mapboxgl-popup-close-button:hover {
  background: #f78d5c;
}
