#lbca_map {
  width: 100%;
  height: 420px;
  background: #e6e6e6;
}
.mapboxgl-popup-content {
  padding-bottom: 5px;
  padding-top: 5px;
}
.mapboxgl-popup-close-button {
  background: #f56b2b;
  color: white;
}
.mapboxgl-popup-close-button:hover {
  background: #f78d5c;
}
